@using MyMoviesCatalogApp.Models;
@model HashSet<Writer>

@foreach (Writer g in Model)
{    
    <div class="btn-group">
        <form action="/Movie" class="form-inline">@Html.AntiForgeryToken()<input type="hidden" id="SearchString" name="SearchString" value="@g.Person.FullName" />
            <button type="submit" class="btn btn-default btn-xs" style="text-align:left">@g.Person.FullName</button>
        </form>
    </div>

}
